<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.news">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CraditActivity"></activity>
        <activity android:name=".DatePicker" />
        <activity
            android:name=".FeedBackActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".WiresMZActivity" />
        <activity android:name=".NewYorkerMZActivity" />
        <activity android:name=".FriezeMZActivity" />
        <activity android:name=".VanityMZActivity" />
        <activity android:name=".AdAgeMZActivity" />
        <activity android:name=".RelevantMZActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>